:root {
    --primery-text-color: #434455;
    --title-text-color: #2E2F42;
    --accent-color: #404BBF;
    --back-graund-butt-color: #4D5AE5;
    --butt-wh-text: #ffffff;
}




body {
    background-color: var(--butt-wh-text);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.02em;
}
ul{
    list-style: none;
}
/* header */
.logo{
    color: var(--title-text-color);
    font-family: 'Raleway';
        font-weight: 800;
        font-size: 18px;
        line-height: 1.16;
}
/* .logo:hover,
.logo:focus{

} */
.site-nav .link {
    color: var(--title-text-color);
    font-family: 'Roboto';
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
}
.site-nav .link:hover,
.site-nav .link:focus {
color: var(--accent-color);
}
.site-nav .link .current{
    color: var(--accent-color) ;
}

.auth-nav .nav-list {
    color: var(--primery-text-color);
    font-family: 'Roboto';
    font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
}
.auth-nav .nav-list:hover,
.auth-nav .nav-list:focus{
    color: var(--accent-color);
}


/* hero */
.hero-title{
    color:var(--butt-wh-text);
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 56px;
        line-height: 60px;
        text-align: center;
        letter-spacing: 0.02em;
}

/* main */
/* h2 */
.section-title {
color: var(--title-text-color);
font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
}
/* h3 */
.title{
    font-family: 'Roboto';
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        color: var(--title-text-color);
}



/* sectio 1 */
/* p */
.title-text {
    color: var(--primery-text-color);
    font-family: 'Roboto';
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
}
 











/* buttons */
button {
    color: var(--butt-wh-text);
    background-color: var(--back-graund-butt-color);
}
.button.pr {
    color: var(--back-graund-butt-color);
    background-color: var(--butt-wh-text);
}
.button.pr:hover,
.button.pr:focus {
    color: var(--butt-wh-text);
        background-color: var(--back-graund-butt-color);
}
.button.he {
    color: var(--butt-wh-text);
        background-color: var(--back-graund-butt-color);
        font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
}